extends ./component/layouts/default

block vars
    - let title = "Книга"
    - 
        let pages = [
            {   
                link: "/",
                text: "Главная"
            },
            {
                link: "/disk", 
                text: "Дисковая утилита"
            },
            {
                link: "/mouse",
                text: "Мышка",
            },
            {
                link: "/cp",
                text: "Центральный процессор"
            },
            {
                link: "/colling",
                text: "Система охлаждения"
            },
            {
                link: "/expansionCard",
                text: "Карта расширения"
            },
            {
                link: "/graphicTablet",
                text: "Графический планшет",
            },
            {
                link: "/hardDrive",
                text: "Жесткий диск"
            },
            {
                link: "/Joystick",
                text: "Джостик"
            },
            {
                link: "/keyboard",
                text: "Клавиатуры"
            },
            {
                link: "/micro",
                text: "Микрофон"
            },
            {
                link: "/modem",
                text: "Модем"
            },
            {
                link: "/motherBoard",
                text: "Материнская плата"
            },
            {
                link: "/networkCard",
                text: "Сетевая карта"
            },
            {
                link: "/opticalDrive",
                text: "Оптический привод"
            },
            {
                link: "/powerSupply",
                text: "Блок питания"
            },
            {
                link: "/print",
                text: "Принтер"
            },
            {
                link: "/ram",
                text: "Оперативная память"
            },
            {
                link: "/rom",
                text: "ПЗУ"
            },
            {
                link: "/router", 
                text: "Роутер"
            },
            {
                link: "/scanner",
                text: "Сканер"
            },
            {
                link: "/monitor",
                text: "Монитор"
            },
            {
                link: "/soundCard",
                text: "Звуковая карта"
            },
            {
                link: "/soundDevices", 
                text: "Устройство вывода звука"
            },
            {
                link: "/tape", 
                text: "Ленточный накопитель"
            },
            {
                link: "/sensor", 
                text: "Сенсорная панель"
            },
            {
                link: "/track",
                text: "Трекбол"
            },
            {
                link: "/usb", 
                text: "Usb"
            },
            {
                link: "/webcam", 
                text: "Веб-камера"
            },
            {
                link: "/systemUnit", 
                text: "Системный блок"
            },
            {
                link: "/videoCard",
                text: "Видеокарта"
            }
        ];
        let allPages = pages
        let newPages = [
            {
                text: "Основные",
                notLink: true,
                directory: true,
                items: [
                    {
                        text: "Монитор", 
                        path: "/monitor",
                        subdirectory: false,
                    },
                    {
                        text: "Системный блок",
                        path: "/powerSupply",
                        subdirectory: true,
                        subItems: [
                            {
                                text: "материнская плата",
                                path: "/motherBoard",
                            },
                            {
                                text: "центральный процессор",
                                path: "/cp"
                            },
                            {
                                text: "оперативная память",
                                path: "/ram", 
                            }, 
                            {
                                text: "карты расширений",
                                path: "/expansionCard"
                            }
                        ], 
                    },
                    {
                        text: "Клавиатура", 
                        path: "/keyboard",
                    },
                    {
                        text: "Мышь", 
                        path: "/mouse"
                    }
                ],
            }, 
            {
                text: "Дополнительные", 
                notLink: true,
                directory: true,
                items: [
                    {
                        text: "Модем", 
                        path: "/modem"
                    },
                    {
                        text: "Принтер", 
                        path: "/print"
                    }, 
                    {
                        text: "Сканер", 
                        path: "/scaner"
                    }, 
                    {
                        text: "Флеш-накопитель",
                        path: "/usb"                        
                    },
                    {
                        text: "Устройство вывода звука", 
                        path: "/soundDevices"
                    }
                ],
            }
        ]
        let newPage = [
            {},
            {}
        ]

//- block header
block main
    .d-none#page-storage
        div#index
            +container-fluid    
                .col-12
                    h3 Главная
                .col-12
                    .accordion#list-all-pages
                        each pageItem, topIndexRaw in newPages
                            - let topIndex = topIndexRaw+1
                            .accordion-item
                                h2.accordion-header
                                    button.accordion-button(data-bs-toggle="collapse", data-bs-target="#"+topIndex+"-list")
                                        =topIndex+". "+pageItem.text
                                .accordion-collapse.collapse.show(id=topIndex+"-list")
                                    .accordion-body

                                        if pageItem.items !== undefined
                                            .list-group
                                                each item, itemIndexRaw in pageItem.items
                                                    - let itemIndex = itemIndexRaw+1
                                                    if item.subItems !== undefined
                                                        .accordion-item
                                                            h2.accordion-header(list-parent="false")
                                                                button.accordion-button(data-bs-toggle="collapse", data-bs-target="#"+itemIndex+"-sub-list")
                                                                 = topIndex+"."+itemIndex+". "+item.text
                                                            .accordion-collapse.collapse.show(id=itemIndex+"-sub-list")
                                                                .accordion-body
                                                                    .list-group
                                                                        each subItem, subItemIndexRaw in item.subItems
                                                                            - let subItemIndex = subItemIndexRaw+1
                                                                            +list-item
                                                                                = topIndex+"."+itemIndex+"."+subItemIndex+". "
                                                                                +link(subItem.path)
                                                                                    =subItem.text
                                                    else
                                                        +list-item
                                                            = topIndex+"."+itemIndex+". "
                                                            +link(item.path)
                                                                =item.text
                                        else
                                            p Нет 
                                


                .col-12
                   p
                        |   Компьютеры, как устройства, состоят из множества компонентов, каждый из которых играет свою роль в обеспечении 
                        |   правильного функционирования системы. 
                        +link("/cp")
                            |   Процессор (центральный процессор)

                        |   является "мозгом" компьютера и отвечает за 
                        |   выполнение всех вычислительных операций. 
                        +link("/motherBoard")
                            |   Материнская плата, 
                        |   или системная плата, является главной платой, 
                        |   к которой подключаются остальные компоненты компьютера, включая процессор, память и видеокарту.
                p
                    +link("/ram")
                        |   Оперативная память (RAM) 
                    |   является временным хранилищем данных и программ, которые компьютер использует в данный момент. 
                    |   Больший объем оперативной памяти позволяет запускать более требовательные по ресурсам программы и обеспечивает более плавное выполнение задач.
                p
                    +link("/hardDrive")
                        |   Жесткий диск (Hard Disk Drive, HDD) 
                    |   или твердотельный накопитель (Solid State Drive, SSD) 
                    |   используется для долгосрочного хранения данных, включая операционную систему, приложения и файлы пользователя. 
                    +link("/hardDrive")
                        |   HDD 
                    |   обладают большим объемом памяти, но работают медленнее, в то время как
                    +link("/hardDrive")
                        |   SSD 
                    |   обеспечивают более быстрый доступ к данным, 
                    |   но имеют меньший объем.
                p 
                    +link("/videoCard")
                        |  Видеокарта (Video Card или Graphics Card) 
                    |   является одним из ключевых компонентов компьютера, отвечающим за обработку и вывод графической информации на 
                    +link("/monitor")
                        |   монитор. 
                    |   Она содержит графический процессор (GPU), 
                    |   который специализируется на обработке графики и создании 3D-изображений. 
                    |   Современные видеокарты обладают большим количеством ядер и высокой тактовой частотой, 
                    |   что позволяет им обрабатывать сложные графические сцены и обеспечивать высокое качество графики.
                p
                    +link("/soundCard")
                        |   Аудиокарта (Sound Card) 
                    |   отвечает за обработку звуковых сигналов и обеспечение качественного звука на компьютере. 
                    |   Она может иметь различные разъемы для подключения динамиков, наушников или микрофона, 
                    |   а также поддерживать различные аудиоформаты.
                p 
                    |   Кроме основных компонентов компьютера, 
                    |   таких как 
                    +link("/cp")
                        |   процессор, 
                    +link("/ram")
                        |  память,
                    +link("/hardDrive")
                        |   жесткий диск, 
                    +link("/videoCard")    
                        |   видеокарта 
                    |   и 
                    +link("/soundCard")
                        |   аудиокарта, 
                    |   также существуют 
                    |   периферийные устройства, 
                    |   которые позволяют пользователю взаимодействовать с компьютером. 
                    +link("/monitor")
                        |   Монитор 
                    |   отображает графическую информацию, 
                    +link("/keyboard")
                    |   клавиатура 
                    |   и 
                    +link("/mouse")
                        |   мышь 
                    |   служат вводными устройствами для ввода команд и данных, 
                    +link("/print")
                        |   принтеры 
                    |   и 
                    +link("/scanner")
                        |   сканеры 
                    |   используются для печати и сканирования документов,
                    |  а также существуют другие периферийные устройства, такие как 
                    +link("/webcam")
                        |   веб-камеры, 
                    +link("/graphicTablet")
                        |  графические планшеты 
                    |   и 
                    +link("/Joystick")
                        |   игровые контроллеры.

        +page("disk", "Дисковая утилита", "Дисковая утилита", pages)
            p 

                |   Дисковая утилита - (англ. Disk Operating System ) DOS — семейство операционных систем с монолитным ядром, 
                |   предназначенных для работы с PC-совместимыми компьютерами. 
                |   В системе отсутствует слой аппаратных абстракций. Поддержка большинства устройств, 
                |   за исключением самых базовых функций, таких как работа с клавиатурой, 
                |   текстовым дисплеем и файловой системой, возложена на пользовательское ПО.
            p 
                |   DOS работают в реальном режиме адресации x86, что позволяет использовать для нужд операционной системы не более 
                |   1 МБ адресного пространства, с учётом специальных областей памяти становится доступно не более 640КБ ОЗУ. 
                |   Доступ к остальной оперативной памяти осуществляется с помощью специальных драйверов, 
                |   наподобие HIMEM.SYS. Как правило используются только 16-битные команды процессора для сохранения совместимости с 8088.
            p 
                |   DOS не предоставляют стандартных средств для осуществления многозадачности, 
                |   однако существует особый режим, называемый резидентным, когда после завершения программы вся она или 
                |   её часть остаётся в памяти и может быть вызвана из другого приложения с помощью специального прерывания. 
                |   Кроме того, в DOS отсутствовала защита памяти и контроль доступа к файлам, что привело к широкому 
                |   распространению компьютерных вирусов.
        +page("mouse", "Мышь", "Мышка", pages)
            p
                |   Компьютерная мышь - это одно из периферийных устройств, которое позволяет человеку вводить информацию в компьютер. 
                |   Клавиатуры, принтеры и микрофоны также можно считать периферийными устройствами. Эти устройства не требуются 
                |   для основной работы компьютера и могут быть легко удалены из компьютера в любое время и наоборот.
            p 
                |   Компьютерные мыши, в частности, используются для управления компьютером, 
                |   а также для ввода информации в компьютер, например, клавиатуры
                |   веб-камеры, сканера и т.д. 
                |   Перемещая ее по столу или планшету, можно манипулировать курсором на экране и отдавать различные команды. 
                |   Он может запускать приложения, взаимодействовать с контекстными меню 
                |   и другими элементами системы и многое другое.
            p 
                |   Все это работает по простому принципу.
                |   У вас есть определенная рабочая плоскость (по сути, обычный стол), устройство фиксирует 
                |   ее движение каким-либо способом (в зависимости от типа) и отражает его в движущемся курсоре на экране.
                |   Или же информация о движении курсора передается специальной программе на компьютере, которая генерирует движение курсора. 
                |   Чтобы подтвердить свое поведение и расширить функциональность, 
                |   мышь обзаводится клавишами и может похвастаться различными жестовыми системами и сенсорным управлением 
                |   с наличием десятков клавиш, даже более продвинутыми.
            +container-fluid
                .row
                    .col-6.d-flex.flex-column.justify-content-center
                        h5 Механические мыши 
                        p 
                            |   Первые мыши, названные механическими из-за своей особой технологии, в ходе своей эволюции претерпели значительные изменения.
                            |   Прямой привод
                            |   Прежде чем мыши на шарикоподшипниках получили широкое распространение, первыми были мыши 
                            |   с двумя ортогональными колесами, которые вращались в двух разных измерениях (плоскостях); в 1963 году эта 
                            |   первая конструкция увидела свет благодаря работе американского профессора Дугласа Энгельбарта.
                    .col-6
                        h5 Шариковый привод
                        p 
                            |   Первой крупной революцией в разработке датчиков движения стал шариковый привод.
                            |   Конструкция датчика состояла из прорезиненного металлического шарика, закрепленного на корпусе двумя роликами.
                            |   Ролики воспринимали движение шарика и передавали "показания" на специальный датчик, 
                            |   который преобразовывал "показания" движения шарика в электрические сигналы.
                        p 
                            |   Однако у этой конструкции был существенный недостаток. Шарики и ролики загрязнялись, 
                            |   и устройство переставало работать. Поэтому требовалась регулярная чистка.
                            |   Кроме того, точность была самой низкой по сравнению с другими мышами.
                    .col-6
                        h5 Оптические мыши
                        p
                            |   Следующей разработкой стала оптическая мышь. Они подразделяются на два варианта - первого и второго поколения. 
                            |   Отсутствие механических компонентов сделало их более надежными и точными, чем их предшественники.
                            |   Однако датчики, используемые в этом типе компьютерных мышей, постоянно совершенствуются, поэтому современные 
                            |   оптические мыши редко страдают от этого недостатка.
                        p
                            |   Лазерные мыши
                            |   Этот тип мышей очень похож на своих оптических "братьев" второго поколения, за исключением принципа работы 
                            |   и используемых датчиков. В основе лазерной мыши лежит использование полупроводникового лазера: применение 
                            |   лазера вместо светодиодов повышает точность мыши, поскольку свет лазера, отраженный от рабочей поверхности, более тонкий. 
                            |   В результате лазерные мыши предлагают более широкий диапазон разрешений (DPI) и более точную работу, чем оптические мыши.
                    .col-6.d-flex.flex-column.justify-content-center
                        h5 Беспроводные мыши
                        p
                            |   Не следует забывать и о беспроводных мышках. Уже упоминалось, что гироскопические и 
                            |   индукционные мыши являются типичными примерами этого типа. 
                            |   Однако в конструкции таких устройств используются совершенно другие технологии.
                            |   С другой стороны, классические беспроводные мыши, представленные сегодня на полках магазинов, основаны на оптических и лазерных мышах. 
                            |   Они имеют схожие датчики, разница лишь в способе 
                            |   передачи движения на компьютер. Сегодня для этого используются не провода, а другие методы.
        +page('cp', "Центральный процессор", "Центральный процесс", pages)
            p
                |   Центральный процессор (ЦП) является главным компонентом компьютера, отвечающим за обработку информации и выполнение задач.
                |   Он является "мозгом" компьютера и определяет его производительность.
                |   В данной статье мы рассмотрим основные характеристики центрального процессора и его роль в работе компьютера.
            p Основные характеристики центрального процессора включают:
            +list('flush')
                -
                    let text = [
                        "Тактовая частота - это скорость работы процессора, которая измеряется в герцах (Гц).",
                        "Чем выше тактовая частота, тем быстрее процессор может обрабатывать данные. ",
                        "Однако, высокая тактовая частота может привести к увеличенному потреблению энергии и нагреву процессора.",
                        "Количество ядер - это число независимых процессоров внутри одного физического процессора.",
                        "Каждое ядро может обрабатывать данные параллельно с другими ядрами, что увеличивает общую производительность процессора.",
                        `Некоторые задачи, такие как обработка видео или запуск виртуальных машин, могут быть выполнены значительно быстрее 
                        на процессорах с несколькими ядрами.`,
                        `Кэш-память - это небольшое количество быстрой памяти, расположенное непосредственно на процессоре.`,
                        `Кэш-память используется для хранения наиболее часто используемых данных, 
                        что позволяет процессору быстрее получать доступ к ним.`,
                        `Кэш-память обычно разделена на три уровня: L1 (самый быстрый, но наименьший), 
                        L2 (больше, но медленнее) и L3 (самый большой, но еще медленнее).`,
                        `Архитектура процессора - это способ организации внутренних компонентов процессора.`,
                        `Существует несколько архитектур процессоров, таких как x86, ARM и RISC-V.`,
                    ]
                each item in text
                    +list-item
                        =item
                p Каждая архитектура имеет свои преимущества и недостатки и может использоваться в различных типах устройств, от смартфонов до серверов.
                p Технологический процесс - это размер транзисторов, из которых состоит процессор.
                p Технологический процесс - это размер транзисторов, из которых состоит процессор. 
                p 
                    |   Кроме того, следует учитывать, что некоторые приложения и задачи могут требовать определенной конфигурации 
                    |   компьютера, чтобы работать наиболее эффективно.
                p   
                    |   Например, приложения для работы с графикой или видео-редактирования могут требовать процессора 
                    |   с высокой тактовой частотой и большим количеством ядер для обработки больших объемов данных. 
                    |   С другой стороны, для выполнения простых задач, таких как просмотр веб-страниц или написание текстовых документов, 
                    |   может быть достаточно более простой конфигурации.
                p
                    |   В целом, процессор является одним из наиболее важных компонентов компьютера, который определяет его производительность 
                    |   и эффективность.
                p 
                    |    При выборе компьютера или обновлении его компонентов следует обратить внимание на характеристики процессора, 
                    |   такие как тактовая частота, количество ядер, кэш-память, архитектура и технологический процесс, а также на другие 
                    |   компоненты компьютера и требования приложений для оптимальной работы.
        +page("colling", "Система охлаждения", "Система охлаждения", pages)
            p 
                span.fw-bold Система охлаждения компьютера —
                |   набор средств для отвода тепла от нагревающихся в процессе работы компьютерных компонентов
            p  Тепло в конечном итоге может утилизироваться:
            +list('flush')
                +list-item 
                    | В атмосферу (радиаторные системы охлаждения):
                +list('flush')
                    each subitem in ["Пассивное охлаждение (отвод тепла от радиатора осуществляется излучением тепла и естественной конвекцией)", "Активное охлаждение (отвод тепла от радиатора осуществляется излучением [радиацией] тепла и принудительной конвекцией [обдув вентиляторами])"]  
                        +list-item=subitem
                each item in ["Вместе с теплоносителем (системы жидкостного охлаждения)", "За счёт фазового перехода теплоносителя (системы открытого испарения)"]
                    +list-item=item
            p По способу отвода тепла от нагревающихся элементов системы охлаждения делятся на:
            +list('flush')
                each val in ["Системы воздушного (аэрогенного) охлаждения", "Системы жидкостного охлаждения", "Фреоновая установка", "Системы открытого испарения"]
                    +list-item=val
            p Также существуют комбинированные системы охлаждения, сочетающие элементы систем различных типов:
            +list('flush')
                each val in ["Ватерчиллер", "Системы с использованием элементов Пельтье"]
                    +list-item=val
            h5 Системы воздушного охлаждения
            p
                |   Воздушное охлаждение является наиболее распространённым на компьютерах. 
                |   Оно заключается в передаче тепла от нагревающегося компонента радиатору. Может быть как пассивным, так и активным. 
                |   В первом случае охлаждение осуществляется за счёт естественной циркуляции воздуха, 
                |   а во втором радиаторы постоянно обдуваются вентиляторами для лучшего рассеивания тепла.
            p 
                |   При ограниченности пространства непосредственно у процессора и необходимости отводить от малой площади большой поток тепла, 
                |   используют тепловые трубки — эффективность теплопередачи тепловой трубки на единицу сечения выше, 
                |   чем у теплопередачи через сплошной металл; благодаря такому подходу становится возможным передавать тепло 
                |   с малой площади кристалла процессора на большой радиатор, находящийся на некотором расстоянии. 
                |   Данный приём используется в системах как чисто пассивного, так и активного 
                |   (с вентилятором, но значительно меньшей площади/скорости вращения) охлаждения; 
                |   также применяются в целях создания полностью бесшумного компьютера (напр., HTPC).
        +page("expansionCard", "Карта расширения", "Карта расширения", pages)
            p 
                |   Карта расширения (англ. expansion card) - это устройство, которое подключается к материнской плате компьютера для 
                |   расширения его функциональности. 
            p 
                |   Карты расширения могут добавлять новые возможности, 
                |   такие как подключение дополнительных портов, улучшение графической производительности или расширение памяти.
            p  
                |   Существует множество различных типов карт расширения, включая звуковые карты, 
                |   сетевые адаптеры, видеокарты, контроллеры хранения данных и многие другие.
            p.mb-3   Карты расширения подключаются к свободным слотам на материнской плате, которые обычно расположены на задней панели компьютера.
            - 
                let texts = [
                    "При выборе карты расширения необходимо учитывать совместимость с материнской платой, тип интерфейса и требования к питанию.", 
                    "Некоторые карты расширения также могут требовать установки драйверов или программного обеспечения для правильной работы.",
                    "В заключение, карты расширения позволяют расширять функциональность компьютера и добавлять новые возможности.", 
                    `При выборе карты расширения необходимо учитывать совместимость с материнской платой и другими компонентами компьютера 
                    чтобы обеспечить правильную работу и максимальную производительность.`,
                ]
            each text in texts
                p=text
        +page("graphicTablet", "Графический планшет", "Графический планшет", pages)
            p
                |   Графический планшет - это устройство для ввода информации на компьютер, 
                |   которое позволяет пользователю создавать рисунки и изображения с помощью пера или стилуса. 
            p Графический планшет состоит из поверхности с сенсорным экраном и пера или стилуса, который используется для рисования.
            p
                |   Перо или стилус имеет различные уровни давления, 
                |   что позволяет пользователю создавать линии и тени с разной толщиной и интенсивностью. 
            p
                |   Графический планшет также может иметь различные кнопки и колесики для настройки 
                |   инструментов рисования и изменения параметров изображения.
            p 
                |   Графические планшеты используются в различных областях, таких как дизайн, искусство, анимация, архитектура, и т.д. 
                |   Они предоставляют удобный способ для создания цифровых изображений и рисунков, а также позволяют сохранять, 
                |   редактировать и обмениваться ими.
            p Существует множество различных моделей и брендов графических планшетов на рынке, с различными функциями и возможностями.
            p 
                |   Важно выбрать графический планшет, который подходит для конкретных нужд и задач, 
                |   а также учитывать его размер, разрешение и другие технические параметры.
            p 
                |   В целом, графический планшет - это удобное устройство для создания цифровых изображений и рисунков, 
                |   которое используется в различных областях и имеет множество различных моделей и функций.
        +page("hardDrive", "Жесткий диск", "Жесткий диск", pages)
            p 
                |   Жесткий диск - это устройство для хранения данных на компьютере. 
                |   Он состоит из магнитных дисков, которые вращаются со скоростью от нескольких тысяч 
                |   до более 10 000 оборотов в минуту, и головок, которые записывают и считывают данные на этих дисках.
            p 
                |   Жесткие диски могут быть внутренними или внешними. Внутренние диски устанавливаются внутри компьютера и используются для 
                |   хранения операционной системы, программного обеспечения и пользовательских файлов. 
            p 
                |   Внешние диски могут быть подключены к компьютеру через интерфейсы, такие как USB или Thunderbolt, 
                |   и используются для резервного копирования данных или для переноса файлов между компьютерами.
            p  
                |   Ёмкость жесткого диска измеряется в гигабайтах или терабайтах. Большинство современных жестких дисков имеют емкость от 
                |   нескольких сотен гигабайт до нескольких терабайт. Существуют также более крупные диски, 
                |   которые могут иметь емкость до 16 терабайт.
            p Жесткие диски могут иметь различные скорости вращения, буферы и интерфейсы.
            p Более быстрые диски имеют более высокую скорость вращения и больший буфер, что обеспечивает более быстрое чтение и запись данных. 
            p Интерфейсы, такие как SATA и NVMe, позволяют обеспечить быструю передачу данных между жестким диском и компьютером.
            p В заключение, жесткий диск является устройством для хранения данных на компьютере.
            p Он может быть внутренним или внешним и имеет различные характеристики, такие как емкость, скорость вращения, буфер и интерфейсы. 
            p Жесткие диски используются для хранения операционной системы, программного обеспечения и пользовательских файлов.
        +page("Joystick", "Джостик", "Джостик", pages)
            p
                |   Джойстик - это устройство для управления компьютерными играми, 
                |   которое состоит из ручки и кнопок для управления игровыми персонажами. 
            p Джойстик подключается к компьютеру через USB-порт или специальный порт для джойстиков.
            p Ручка джойстика имеет обычно два основных движения - вперед-назад и влево-вправо, а также поворот вокруг своей оси. 
            p Кнопки на джойстике используются для выполнения различных действий, таких как стрельба или прыжок.
            p Существуют различные типы джойстиков, такие как стационарные и портативные. 
            p 
                | Стационарные джойстики обычно используются для игр на ПК или игровых консолях и имеют более сложную 
                |   конструкцию и большее количество кнопок.
            p Портативные джойстики могут быть подключены к смартфону или планшету и обеспечивают удобное управление во время игры в пути.
            p 
                |   Джойстик также может иметь дополнительные функции, такие как вибрация, которая усиливает ощущения во время игры, 
                |   или программное обеспечение для настройки кнопок и режимов управления.
            p 
                |   В целом, джойстик является устройством для управления компьютерными играми и имеет различные типы и 
                |   функции для обеспечения удобства и качества игрового процесса.
        +page("keyboard", "Клавиатуры", "Клавиатуры", pages)
            p
                |   Клавиатуры являются одним из самых важных компонентов компьютера, позволяющим нам вводить текст, 
                |   играть в игры и управлять устройствами. 
            p 
                |   Однако, при выборе клавиатуры стоит учитывать, что не все они созданы одинаково, 
                |   и каждый тип клавиатуры имеет свои особенности и достоинства.
            - 
                let text = [
                    {
                        title: "Механические клавиатуры",
                        text: `
                            Механические клавиатуры, как правило, используются профессиональными геймерами и писателями. 
                            В этих клавиатурах каждая клавиша имеет свой механический выключатель, который обеспечивает точность и 
                            комфорт при нажатии на клавиши. Они также обладают возможностью настройки подсветки клавиш, макросов и других функций. 
                            Однако, механические клавиатуры могут быть более шумными и дорогими, чем другие типы клавиатур.`,
                    },
                    {
                        title: "Мембранные клавиатуры", 
                        text: `
                            Мембранные клавиатуры - наиболее распространенный вид клавиатур, который часто используется в домашних и офисных компьютерах. 
                            Они имеют меньшую стоимость, чем механические клавиатуры, но часто имеют более мягкий ход клавиш. 
                            Они также не имеют отдельных механических выключателей для каждой клавиши.
                        `
                    },
                    {
                        title: "Плоские клавиатуры",
                        text: `
                            Плоские клавиатуры имеют очень низкий профиль и малую высоту, что делает их более портативными, 
                            чем другие типы клавиатур. 
                            Они могут быть проводными или беспроводными и могут иметь дополнительные функции, 
                            такие как тачпад или дополнительные кнопки.
                        `
                    },
                    {
                        title: "Ножничные клавиатуры",
                        text: `
                            Ножничные клавиатуры - это тип клавиатур, который использует ножничный механизм для обеспечения более плоского и 
                            удобного профиля. 
                            Они обычно имеют меньший ход клавиш, чем мембранные клавиатуры, и более тихие в использовании. 
                            Они часто используются в ноутбуках и других портативных устройствах, 
                            но также могут быть использованы и в стационарных компьютерах. 
                            Они обычно имеют меньшую стоимость, чем механические клавиатуры, но имеют более высокую стоимость, 
                            чем мембранные клавиатуры.
                        `
                    }
                ]
            
            each val in text
                div
                    h4=val.title
                    p=val.text
        +page("micro", "Микрофон", "Микрофон", pages)
            p
                |   Микрофоны, обычно называемые микрофонами или микрофонами, представляют собой преобразователи, 
                |   которые преобразуют звук в электрические сигналы. Микрофоны используются во многих областях, включая телефоны, 
                |   слуховые аппараты, акустические системы для концертных залов и общественных мероприятий, кинопроизводство, 
                |   оборудование для воспроизведения живого и записанного звука, звукозапись, двухстороннее радио, мегафоны, радио- и телевещание.
            p
                |   Принцип работы микрофона заключается в том, что давление звуковых колебаний от воздуха, 
                |   воды или твердых тел действует на тонкую мембрану микрофона. В зависимости от типа микрофона используются такие явления,
                |    как электромагнитная индукция, изменение емкости и пьезоэлектрический эффект.
            p 
                |   Характеристики акустико-механической системы зависят от того, прикладывается ли звуковое давление к одной стороне мембраны 
                |   (микрофоны с градиентом давления) или к обеим сторонам, и в последнем случае является ли эффект 
                |   симметричным (микрофоны с градиентом давления) или же вибрация, возбуждающая мембрану, прикладывается 
                |   непосредственно к одной стороне и передается через механическое и акустическое сопротивление и систему 
                |   временных задержек на другую сторону (асимметричный звук). микрофоны с градиентом давления).
            p Механические и электрические аспекты микрофона оказывают значительное влияние на его производительность.
        +page("modem", "Модем", "Модем", pages)
            p
                |   Модем   это тип устройства, используемый в системах связи для физического сопряжения информационных сигналов 
                |   со средой их передачи. Там, где он не может существовать без преобразования.
            p 
                |   Различные типы модемов выполняют функцию завершения канала связи. Формирование самого потока для передачи и 
                |   обработки полученных данных выполняет оконечное устройство. Им также может быть персональный компьютер.
            - 
                let textOne = [
                    {
                        title: "Внутренним",
                        text: "располагается внутри корпуса компьютера и устанавливается в слоты ISA, PCI или PCMCIA."
                    },
                    {
                        title: "Внешний тип модема",
                        text: `
                            C собственным шасси внешним источником питания; подключается к COM-или 
                            USB-порту(некоторые USB-модемы питаются от USB-порта).
                        `
                    },
                ]
                let textTwo = [
                    {
                        title: "Аппаратный",
                        text: `
                            все операции преобразования и поддержка протокола физического обмена выполняются внутренним компьютером (например, 
                            с помощью DSP, контроллера).
                        `
                    },
                    {
                        title: "Программный",
                        text: `
                            тип модема, в котором все операции кодирования сигнала и управление протоколом реализуются программно центральным 
                            процессором компьютера (например,USB).
                        `
                    }, 
                ]
                let textThree = [
                    {
                        title: "Аналоговые",
                        text: "наиболее распространенный тип модема для обычных коммутируемых линий."
                    }, 
                    {
                        title: "Кабельный",
                        text: "используется для обмена информацией по специальным кабелям (например,кабеля CATV)."
                    },
                    {
                        title: "Беспроводной модем",
                        text: "использует принцип беспроводной связи."
                    },
                    {
                        title: "Факс-модем",
                        text: "тип модема, который может отправлять и принимать изображения текст компьютеров других факсимильных аппаратов."
                    },
                    {
                        title: "Сотовый",
                        text: "передает информацию через мобильные сети."
                    }
                ]
            p В зависимости от своей структуры, рассматриваемое устройство может быть:
            each valOne in textOne 
                p 
                    span.fw-bold=valOne.title+"-"
                    = valOne.text
            p По принципу работы различают следующие типы модемов:
            each valTwo in textTwo
                p
                    span.fw-bold=valTwo.title+"-"
                    =valTwo.text
            p В зависимости от типа подключения модемы могут быть следующими:
            each valThree in textThree
                p
                    span.fw-bold=valThree.title+"-"
                    =valThree.text
        +page("motherBoard", "Материнская плата", "Материнская плата", pages)
            p 
                |   Материнская плата - это одна из важнейших компонентов компьютера, которая связывает все остальные компоненты, включая процессор, 
                |   оперативную память, жесткий диск, видеокарту и другие.
            p Каждая материнская плата имеет свои уникальные характеристики, которые важно учитывать при её выборе.
            p Основные характеристики материнской платы включают в себя её размер и форм-фактор. 
            p Наиболее распространены форм-факторы ATX и micro-ATX. Сокет – это разъем, в который устанавливается процессор. 
            p В зависимости от производителя процессора, материнская плата может иметь разные сокеты, такие как LGA1151 или AM4. 
            p
                | Чипсет является набором микросхем, который обеспечивает связь между процессором, 
                | оперативной памятью, жестким диском и другими компонентами компьютера.
            p 
                |   Наиболее популярными чипсетами являются Intel Z370 и AMD X470. Слоты расширения - это разъемы на материнской плате, 
                |   в которые можно установить дополнительные компоненты, такие как видеокарта, звуковая карта или сетевая карта. 
            p  
                |   Порты ввода/вывода на материнской плате могут включать в себя различные порты, такие как 
                +link("/usb")
                    |   USB, 
                |   HDMI, Ethernet и аудиовыходы.
            p 
                |   При выборе материнской платы важно учитывать многие факторы, включая процессор, который вы планируете использовать, 
                |   типы компонентов, которые вы хотите установить, и ваш бюджет.
        +page("networkCard", "Сетевая карта", "Сетевая карта", pages)
            p 
                | Сетевая карта - это специальное интерфейсное устройство, которое позволяет компьютеру (ноутбуку) общаться 
                |   с другими участниками локальной сети. Сетевые карты очень часто интегрируются в материнскую плату компьютера. 
                |   С помощью сетевой карты компьютер получает доступ к информационным полям локальной сети, 
                |   а также к общению с сетями более высокого уровня (Интернет). Синонимами сетевой карты являются сетевой адаптер и сетевая карта.
            p 
                |   Назначение и характеристики сетевых карт Сетевые карты создают и поддерживают функциональность локальной сети. 
                |   Это делается как физически, так и аппаратно. Сетевые адаптеры отвечают за передачу двоичных данных в виде 
                |   электромагнитных импульсов по настроенному соединению локальной сети. Сетевая карта - это тип контроллера, 
                |   управляемого драйвером, установленным программно в операционной системе. Сетевая карта имеет перечень функций, 
                |   которые она выполняет при приеме и передаче информации. Во-первых, она непосредственно участвует в приеме и передаче данных. 
                |   Информация передается от компьютера к сетевой карте и наоборот. Эта операция выполняется через запрограммированные каналы 
                |   ввода-вывода, линии прямого доступа или общую память. Во-вторых, генерируются данные. При приеме данные объединяются в 
                |   блоки данных, при передаче - разделяются на отдельные блоки. Они формируются в виде кадров заданного формата. Кадр содержит 
                |   ряд полей, необходимых для передачи информации. Одно из этих служебных полей содержит адрес компьютера пользователя, 
                |   а другое поле - контрольную сумму кадра. Контрольная сумма является необходимым параметром, который указывает 
                |   на правильность и подлинность информации, передаваемой по сетевому каналу. В-третьих, еще одной особенностью 
                |   является шифрование передаваемых данных. Электрические сигналы, передаваемые по каналу связи, обычно шифруются 
                |   (типичным примером шифрования является манчестерский шифр). Когда данные получены, они должны быть подвергнуты дешифровке.
        +page("opticalDrive", "Оптический привод", "Оптический привод", pages)
            p Оптический привод - это устройство для чтения и записи данных с использованием оптических дисков, таких как CD, DVD и Blu-ray. 
            p 
                |   Оптические приводы могут использоваться для установки программного обеспечения, чтения музыки и фильмов, 
                |   создания резервных копий данных и многих других задач.
            p 
                |   Оптический привод работает по принципу отражения лазерного луча от поверхности диска. 
                |   Информация записывается на диск в виде микроскопических ямок и бугорков, которые затем считываются лазером.
            p 
                |  Различные типы дисков имеют различные емкости и скорости чтения и записи, поэтому при выборе оптического привода 
                |   необходимо учитывать их совместимость.
            p Существуют различные типы оптических приводов, включая CD-ROM, DVD-ROM, CD-RW, DVD-RW и Blu-ray. 
            p Каждый тип имеет свои характеристики, такие как емкость, скорость чтения и записи, и поддержка форматов дисков.
            p Современные компьютеры могут быть оснащены как внутренними, так и внешними оптическими приводами.
            p Внешние приводы могут быть подключены к компьютеру через USB-порт и могут быть перемещены между различными компьютерами.
            p В заключение, оптический привод - это устройство для чтения и записи данных с использованием оптических дисков. 
            p При выборе оптического привода необходимо учитывать его совместимость с дисками и поддержку различных форматов. 
            p Оптические приводы могут быть внутренними или внешними и могут использоваться для многих различных задач.
        +page("powerSupply", "Блок питания", "Блок питания", pages)
            p 
                |   Блок питания (англ. Power Supply Unit, PSU) - это устройство, которое преобразует электрический 
                |   ток из сети переменного тока (AC) в постоянный ток (DC), который необходим для работы компьютера и его компонентов.
            p 
                |   Блок питания обеспечивает энергию для всех компонентов компьютера, включая процессор, материнскую плату, 
                |   жесткий диск, видеокарту и другие устройства.
            p Кроме того, блок питания также защищает компьютер от перенапряжения и коротких замыканий.
            p 
                |   При выборе блока питания для компьютера необходимо учитывать такие параметры, как мощность, 
                |   эффективность и совместимость с компонентами компьютера.
            p 
                |   Мощность блока питания должна быть достаточной для питания всех компонентов, 
                |   а эффективность блока питания определяет, как много энергии он потребляет из сети переменного тока.
            p 
                |   Существуют различные типы блоков питания, такие как ATX, SFX, TFX и др. Каждый тип имеет свои размеры и конфигурацию, 
                |   поэтому при выборе блока питания необходимо убедиться в его совместимости с корпусом компьютера.
            p В заключение, блок питания является важным компонентом компьютера, который обеспечивает энергию для всех компонентов. 
            p 
                |   При выборе блока питания необходимо учитывать мощность, эффективность и совместимость 
                |   с компонентами компьютера, чтобы обеспечить надежную и стабильную работу.
        +page("print", "Принтер", "Принтер", pages)
            p 
                |   Принтеры - это компьютерные периферийные устройства, которые выводят текстовую и графическую информацию, 
                |   хранящуюся в компьютере, на твердый физический носитель (обычно бумагу или пластиковые листы) 
                |   небольшими тиражами (от единиц до нескольких сотен экземпляров).
            p
                |   По этой причине принтеры следует отличать от печатных машин и печатных устройств, 
                |   которые печатают большие тиражи (несколько сотен экземпляров и более) 
                |   с помощью печатных форм с высокой скоростью и низкой стоимостью. Использование принтеров вместе 
                |   с компьютерами отличалось от телетайпа, который получал информацию из телеграфной сети.
            p   
                |   Получили распространение и другие печатающие устройства, такие как многофункциональные принтеры (МФУ), 
                |   сочетающие в одном аппарате функции принтера, сканера, копира и телетайпа. Они технически и 
                |   экономически рациональны и просты в использовании.
            - 
                let text = [
                    {
                        title: "Струйная печать", 
                        text: `
                            Принцип струйной печати хорошо понятен из ее технического названия. Как следует из названия, принцип работы 
                            струйных принтеров заключается в том, что чернила наносятся на бумагу в виде мельчайших капель, которые 
                            выбрасываются из сопел печатающей головки. Термический метод: чернила выбрасываются путем пропускания
                            электрического тока через нагревательный элемент в сопле печатающей головки и быстрого нагрева нагревательного 
                            элемента; пьезо метод: чернила выбрасываются путем прохождения электрических импульсов 
                            через пьезокристаллическую мембрану.
                        `
                    },
                    {
                        title: "Лазерный",
                        text: `
                            Технология лазерной печати не так сложна, как может показаться на первый взгляд. 
                            Лазерный луч используется для формирования "печатного изображения", образуя свободную зону (незаряженную область) 
                            на отрицательно заряженном светочувствительном барабане. Тонер также заряжается за счет сил трения и становится 
                            отрицательно заряженным, что облегчает его прилипание к не заряженным участкам барабана, 
                            после чего он переносится на бумагу. Фьюзинг достигается путем нагрева листа нагревательным валиком, 
                            в результате чего частицы порошка расплавляются и прочно прилипают к бумаге.

                        `
                    },
                    {
                        title: "Матричные",
                        text: `
                            Штифты и проволока обычно располагаются в один или несколько вертикальных рядов [2][3]. 
                            Штифты вгрызаются в красящую ленту, приводя ленту и бумагу в контакт, при этом каждый штифт 
                            образует маленькую точку на бумаге. В результате комбинации точек получается матричное изображение. 
                            Также называются последовательными матричными принтерами.

                        `
                    }
                ]
            each val in text 
                div
                    h4=val.title 
                    p=val.text
        +page("ram", "Оперативная память", "Оперативная память", pages)
            p Оперативная память, или RAM (Random Access Memory), является одним из важных компонентов компьютера.
            p  Она используется для хранения временных данных, которые компьютер использует для выполнения задач.
            p   
                |   RAM имеет высокую скорость чтения и записи данных, что делает ее идеальной для работы с операционными системами, 
                |   приложениями и файлами.
            p 
                |   Большинство компьютеров имеют несколько гигабайтов оперативной памяти, хотя более новые модели могут иметь 
                |   до нескольких десятков гигабайтов.
            p Оперативная память работает совместно с процессором, обмениваясь данными через шину системной платы. 
            p 
                |   Когда компьютер запускает программу, она копируется из жесткого диска в оперативную память, 
                |   где она выполняется. Когда программа закрывается, ее данные удаляются из оперативной памяти, 
                |   чтобы освободить место для новых данных.
            p При выборе оперативной памяти для компьютера важно учитывать такие параметры, как емкость, скорость, задержка и напряжение.
            p 
                |   Некоторые материнские платы также имеют ограничения по типу и количеству модулей оперативной памяти, 
                |   которые они могут использовать.
            p В заключение, оперативная память является важной частью компьютера, которая обеспечивает быстродействие и производительность. 
            p При выборе оперативной памяти для компьютера необходимо учитывать емкость, скорость, задержку и совместимость с материнской платой.
        +page("rom", "ПЗУ", "ПЗУ", pages)
            p Это энергонезависимая память. Технически она реализована в виде микросхемы. Одновременно мы также узнали, что означает аббревиатура ПЗУ. Это устройство для хранения информации, введенной пользователем, или установленных программ. Все, что необходимо хранить в течение нескольких месяцев или лет, например, документы, мелодии или фотографии, можно найти в постоянных запоминающих устройствах. 
            p В зависимости от используемого устройства объем памяти может варьироваться от нескольких килобайт (простейшее устройство с одним кремниевым чипом, пример - микроконтроллер) до терабайтов; чем больше ПЗУ, тем больше объектов можно хранить. Емкость прямо пропорциональна объему данных. Ответ на вопрос, что такое ПЗУ, можно кратко сформулировать так: это устройство хранения данных, не зависящее от постоянного напряжения.
            p Данные в ПЗУ (постоянном запоминающем устройстве) хранятся неограниченное время. Постоянно хранящиеся данные называются энергонезависимыми, что означает, что они сохраняются в ПЗУ даже при отключении питания. После записи данных в ПЗУ они могут быть считаны с других устройств, но новые данные в него записать нельзя.
            p ПЗУ чаще всего используется для хранения так называемой "программы мониторинга". Мониторная программа - это машинная программа, которая позволяет пользователю микрокомпьютерной системы видеть и изменять все функции системы, включая память Другим широким применением ПЗУ является хранение фиксированных таблиц данных, которые никогда не меняются, например, математических функций. ПЗУ может использоваться для хранения таблиц данных, которые никогда не меняются, например, математических функций.
            p В цифровых компьютерных системах широко используются четыре типа ПЗУ: программируемое по маске ПЗУ, программируемое ПЗУ (ППР), стираемое программируемое ПЗУ (ССПП) и электрически программируемое ПЗУ (ЭПП).
        +page("router", "Роутер", "Роутер", pages)
            p Роутер - это устройство, которое используется для создания сети и управления передачей данных между устройствами в этой сети.
            p Роутеры часто используются в домашних и офисных сетях, чтобы обеспечить доступ к Интернету и обмен данными между компьютерами, смартфонами, планшетами и другими устройствами.
            p Роутеры подключаются к модему, который обеспечивает доступ к Интернету, и создают беспроводную или проводную сеть, которая позволяет устройствам обмениваться данными. 
            p Роутеры также могут иметь различные функции, такие как настройка безопасности сети, управление скоростью передачи данных и настройка доступа к Интернету для отдельных устройств.
            p Роутеры могут использоваться как для домашней, так и для офисной сети. В домашней сети роутер обычно используется для обеспечения доступа к Интернету и обмена данными между устройствами в доме. 
            p В офисной сети роутер обычно является центром сети и управляет передачей данных между компьютерами и другими устройствами в офисе.
            p Роутеры могут быть проводными или беспроводными. Проводные роутеры используют провода для передачи данных между устройствами, а беспроводные роутеры используют радиоволны для передачи данных через воздух
            p Беспроводные роутеры обычно более удобны в использовании, так как они позволяют устройствам подключаться к сети без использования проводов.
            p В целом, роутер - это важное устройство для создания сети и управления передачей данных между устройствами в этой сети. 
            p Роутеры могут быть проводными или беспроводными, и могут иметь различные функции, такие как настройка безопасности сети и управление скоростью передачи данных.
        +page("scanner", "Сканер", "Сканер", pages)
            p Сканер состоит из стеклянного основания (планшетного) и расположенного под ним сканирующего механизма. Во время сканирования документ или книга неподвижны, а информация снимается путем перемещения рядов фотоэлементов для считывания вдоль оригинала. Сканеры протяжного типа сканируют только отдельные листы бумаги, которые проходят через светочувствительную линию считывания. К сожалению, этот метод не позволяет оцифровывать объемные носители. Слайд-сканеры. Этот тип сканера используется для сканирования материалов с прозрачным или полупрозрачным дном. К таким цифровым носителям могут относиться фотопленки и рентгеновские снимки.
            p Основные параметры, которые необходимо учитывать при выборе сканера, - это тип сканера, тип установленного датчика, разрешение, оптическая плотность, глубина цвета, скорость сканирования и поддерживаемые форматы цифровых носителей (A4, A3). 
            p 
                |   Тип сканера 
                br 
                | Сканеры делятся на листовые, планшетные и слайдовые. Планшетные сканеры являются наиболее распространенными. 
            +list('flush')  
                - 
                    let text = [
                        {
                            title: "Листовые",
                            text: "По принципу действия эти устройства напоминают факс-аппараты. Считываемая страница с помощью специального механизма протягивается мимо головки. Протяжный сканер может оснащаться лотком для автоматической подачи листов, что существенно увеличивает скорость ввода многостраничных документов. Качество процесса сканирования у этих устройств, как правило, невысокое, главным образом из-за того, что при протягивании листа бумаги очень трудно добиться его равномерного движения без перекосов."
                        },
                        {
                            title: "Планшетные",
                            text: "Такой аппарат обладает высокой функциональностью, удобством пользования, поэтому он пользуется спросом. При сканировании документ не надо перегибать, деформировать, разброшюривать."
                        }, 
                        {
                            title: "Слайдовые",
                            text: "В отличие от планшетных моделей, слайд-сканеры применяются исключительно для работы с прозрачными оригиналами. Перед началом сканирования оригиналы загружаются внутрь корпуса сканера и располагаются между источником света и массивом светочувствительных элементов, закрепленных на подвижных каретках. В процессе сканирования каретки синхронно перемещаются вдоль плоскости оригинала. Свет от источника проходит сквозь оригинал и через оптическую систему попадает на линейки светочувствительных элементов."
                        }
                    ]
                each val in text
                    +list-item
                        div.d-flex.flex-column.w-100.justify-content-between
                            h5=val.title
                            p=val.text
        +page("monitor", "Монитор", "Монитор", pages)
            p Монитор — устройство, предназначенное для воспроизведения видеосигнала и визуального отображения информации, полученной от компьютера.
            p Принципиальное отличие от телевизора заключается в отсутствии встроенного тюнера, предназначенного для приёма высокочастотных сигналов эфирного (наземного) телевещания.
            p Кроме того, в большинстве мониторов отсутствует звуковоспроизводящий тракт и громкоговорители.
            p Современный монитор состоит из экрана (дисплея), блока питания, плат управления и корпуса.
            p Информация для отображения на мониторе поступает с электронного устройства, формирующего видеосигнал (в компьютере — видеокарта или графическое ядро процессора).
            p В качестве монитора может применяться также телевизор.
            p Устройство имеет ряд характеристик, которые стоит учитывать при выборе монитора: диагональ экрана, соотношение сторон, разрешение ЖК-матрицы, углы обзора, частота обновления, время отклика, набор интерфейсов для подключения к ПК и конечно же технология изготовления ЖК-матрицы.
            p Диагональ матрицы (экрана). Размер матрицы монитора обычно указывают в дюймах.
            p Существует 6 видов компьютерных мониторов, которые отличаются типом установленных в них экранов.
            p Последние определяют способ вывода изображения на дисплей, влияют на энергопотребление и безопасность для глаз.

            h4 ЭЛТ-МОНИТОРЫ
            p ЭЛТ-мониторы – это мониторы, формирующие изображение с помощью электронно-лучевой трубки, из которой под действием электростатического поля исходит поток электронов, бомбардирующий внутреннюю поверхность экрана монитора, покрытую люминофором. 
            p Люминофор под воздействием электронов начинает светиться, формируя изображение на экране монитора.
            .row.justify-content-between
                - 
                    let disagrees = [
                        {
                            text: "Скорость отклика.",
                        },
                        {
                            text: "Отсутствие битых пикселей."
                        },
                        {
                            text: "Высокое качество картинки под любым углом."
                        }
                    ]
                    let agrees = [
                        {
                            text: "Габариты"
                        },
                        {
                            text: "Мерцание, вредное для глаз."
                        },
                        {
                            text: "Повышенное энергопотребление."
                        }
                    ]
                .col-4
                    p Достоинства технологии:
                    +list('flush')
                        each val in disagrees
                            +list-item=val.text 
                .col-4.d-flex.justify-content-center
                    .vr
                .col-4
                    p Недостатки:
                    +list('flush')
                        each val in agrees
                            +list-item=val.text 
            h4 ЖК-МОНИТОРЫ 
            p В основе этой технологии лежат жидкие кристаллы, открытые в 1888 году. 
            p Первые попытки с их помощью вывести изображение были приняты в 1960-ых, но получалось добиться только монохромной картины. 
            p В 1987 компания Sharp выпустила первый цветной экран с использованием LCD.
            .row.justify-content-between
                - 
                    let disagrees1 = [
                        {
                            text: "Насыщенные цвета.",
                        },
                        {
                            text: "Высокая энергоэффективность."
                        },
                        {
                            text: "Не подвержены выгоранию пикселей."
                        }
                    ]
                    let agrees1 = [
                        {
                            text: "Ограниченный угол обзора, максимальная яркость."
                        },
                        {
                            text: "Из-за подсветки отображение черного цвета ненасыщенное."
                        },
                        {
                            text: "Качество изображения зависит от установленного контроллера кристаллов."
                        }
                    ]
                .col-4
                    p Достоинства:
                    +list('flush')
                        each val in disagrees1
                            +list-item=val.text 
                .col-4.d-flex.justify-content-center
                    .vr
                .col-4
                    p Недостатки:
                    +list('flush')
                        each val in agrees1
                            +list-item=val.text 
            h4 ПЛАЗМЕННЫЕ-МОНИТОРЫ 
            p Плазменные (pdp) мониторы. Современная плазменная технология идеально подходит для создания индикационных панелей больших размеров
            p Принцип работы плазменной панели состоит в управляемом холодном разряде разреженного инертного газа (неона или ксенона), находящегося в ионизированном состоянии (холодная плазма).
            .row.justify-content-between
                - 
                    let disagrees2 = [
                        {
                            text: "Широкие углы обзора.",
                        },
                        {
                            text: "Отсутствует мерцание."
                        },
                        {
                            text: "Высокий уровень яркости и контрастности."
                        }
                    ]
                    let agrees2 = [
                        {
                            text: "Дороговизна моделей."
                        },
                    ]
                .col-4
                    p Достоинства:
                    +list('flush')
                        each val in disagrees2
                            +list-item=val.text 
                .col-4.d-flex.justify-content-center
                    .vr
                .col-4
                    p Недостатки:
                    +list('flush')
                        each val in agrees2
                            +list-item=val.text 
            h4 LED-МОНИТОРЫ
            p Это прямое развитие ЖК-панелей, где вместо люминесцентных ламп используют светодиоды. 
            p Источники света могут располагать как по краям панели, так и по всей ее площади, избегая засветов.
            .row.justify-content-between
                - 
                    let disagrees3 = [
                        {
                            text: "Меньший вес, по сравнению с LCD.",
                        },
                        {
                            text: "Высокий уровень глубины и контрастности цветов."
                        },
                        {
                            text: "Натуральное изображение, без “кислотных” оттенков."
                        }
                    ]
                    let agrees3 = [
                        {
                            text: "Неравномерная подсветка при размещении светодиодов по краям панели."
                        },
                    ]
                .col-4
                    p Достоинства:
                    +list('flush')
                        each val in disagrees3
                            +list-item=val.text 
                .col-4.d-flex.justify-content-center
                    .vr
                .col-4
                    p Недостатки:
                    +list('flush')
                        each val in agrees3
                            +list-item=val.text
            h4 OLED-МОНИТОРЫ
            p Технология кардинально отличается от конкурирующей ЖК/LED и имеет больше общего с плазменной панелью. 
            p Принцип работы следующий:
            +list('numbered', 'flush')
                +list-item 
                    | Органическую пленку на углеродной основе вставляют между двумя панелями, проводящими электрический ток.
                +list-item
                    |   При подаче электричества на пиксель, тот источает красное, зеленое или синее свечение.
            .row.justify-content-between
                - 
                    let disagrees4 = [
                        {
                            text: "Высокая яркость.",
                        },
                        {
                            text: "Минимальное энергопотребление."
                        },
                        {
                            text: "Насыщенный черный цвет — пиксели просто отключаются."
                        }
                    ]
                    let agrees4 = [
                        {
                            text: "Выгорание пикселей спустя время."
                        },
                        {
                            text: "Высокий уровень вредной для глаз пульсации на низких уровнях яркости."
                        }
                    ]
                .col-4
                    p Достоинства:
                    +list('flush')
                        each val in disagrees4
                            +list-item=val.text 
                .col-4.d-flex.justify-content-center
                    .vr
                .col-4
                    p Недостатки:
                    +list('flush')
                        each val in agrees4
                            +list-item=val.text
            h4 QLED-МОНИТОРЫ
            p Это вариация ранее упомянутых LED-мониторов.
            p Все отличие сводится к установке дополнительного слоя — представляет собой металлический нанофильтр на основе квантовых точек. 
            p Последние, поглощают излучение светодиодов и транслируют его с четко выверенной длиной волны, которую определяет размер точки, и цвета не смешиваются.
            .row.justify-content-between
                - 
                    let disagrees5 = [
                        {
                            text: "Реалистичная цветопередача.",
                        },
                        {
                            text: "Более насыщенные цвета, по сравнению со стандартными LCD и LED."
                        },
                    ]
                    let agrees5 = [
                        {
                            text: "Неравномерная подсветка."
                        },
                    ]
                .col-4
                    p Достоинства:
                    +list('flush')
                        each val in disagrees5
                            +list-item=val.text 
                .col-4.d-flex.justify-content-center
                    .vr
                .col-4
                    p Недостатки:
                    +list('flush')
                        each val in agrees5
                            +list-item=val.text
        +page("systemUnit", "Системный блок", "Системный блок", pages)
            p Системный блок - это основной компонент настольного компьютера, который содержит в себе все основные элементы компьютера, такие как:
            +list('numbered', 'flush')
                - 
                    let texts = [
                        {
                            text: "центральный процессор (CPU)",
                            path: "/cp"
                        }, 
                        {
                            text: "оперативную память (RAM)", 
                            path: "/ram"
                        },
                        {
                            text: "жесткий диск (HDD или SSD)", 
                            path: "/hardDrive"
                        },
                        {
                            text: "материнскую плату", 
                            path: "/motherBoard"
                        }, 
                    ]
                each val in texts
                    +list-item
                        +link(val.path)=val.text
                +list-item
                    +link("/videoCard")
                        | Видоекарту
                    +link("/soundCard")
                        | Звуковую карту
                +list-item 
                    +link("/powerSupply")
                        |   блок питания
            p Системный блок выполняет функцию управления всеми компонентами компьютера, обеспечивая их взаимодействие и работу вместе. 
            p В зависимости от целей использования компьютера и потребностей пользователя, системный блок может быть настроен с различными параметрами.
            p Например с большим объемом оперативной памяти, более мощным процессором или видеокартой.
            p Кроме того, системный блок может быть расширен или модернизирован с помощью дополнительных компонентов, таких:
            p как дополнительные жесткие диски, более мощный блок питания или дополнительная видеокарта для многопроцессорных систем.
            p В целом, системный блок является ключевым компонентом настольного компьютера, который определяет его производительность, возможности и гибкость в настройке и расширении.
        +page("soundCard", "Звуковая карта", "Звуковая карта", pages)
            p Звуковая карта (звуковая плата, аудиокарта; англ. sound card) — дополнительное оборудование персонального компьютера и ноутбука, позволяющее обрабатывать звук (выводить на акустические системы и/или записывать). На момент появления звуковые платы представляли собой отдельные карты расширения, устанавливаемые в соответствующий слот. В современных материнских платах представлены в виде интегрированного в материнскую плату аппаратного кодека (согласно спецификации Intel AC’97 или Intel HD Audio).
            h5 Внешняя звуковая карта
            p Внешняя звуковая карта выполняет те же функции, что и интегрированная или внутренняя, но с возможностью быстрого подключения к любому компьютеру, включая не имеющие слота расширения. Обычно представляет собой выносной бокс с подключением по USB-кабелю к компьютеру. Аудиоразъёмы (входы и выходы) обычно расположены на лицевой и задней стороне звуковой карты, а регуляторы — на лицевой стороне.
            h5 HD Audio
            p HD Audio (от англ. high definition audio — звук высокой чёткости) является эволюционным продолжением спецификации AC’97, предложенным компанией Intel в 2004 году, обеспечивающим воспроизведение большего количества каналов с более высоким качеством звука, чем при использовании интегрированных аудиокодеков AC’97. Аппаратные средства, основанные на HD Audio, поддерживают 24-разрядное качество звучания (до 192 кГц в стереорежиме, до 96 кГц в многоканальном режимах — до 8 каналов).
            p Формфактор кодеков и передачи информации между их элементами остался прежним. Изменилось только качество микросхем и подход к обработке звука.
        +page("soundDevices", "Устройство вывода звука", "Устройство вывода звука", pages)
            p Периферийное устройство, получающее данные от компьютера, обычно для отображения, проецирования или физического воспроизведения.
            p С развитием информационных технологий применение звука становится все более разнообразным, начиная от образовательных, развивающих (чтение, музыка), бизнес-приложений (обучение, пресс-конференции, презентации), профессиональных программ (прослушивание звуков сердца, обучение беспроводной связи), до профессиональных мультимедиа (дубляж фильмов, музыкальный редактор).
            p Современные устройства вывода звука на ПК включают в себя динамики, колонки и наушники.
            h5 Динамики 
            p Это периферийные устройства вывода, используемые для воспроизведения звука.
            p Динамики до сих пор являются стандартным устройством на ПК и используются в основном для генерации сообщений об ошибках, особенно при запуске программ $POST$. Некоторые программы могут быть настроены на вывод звукового сигнала через динамик, что полезно, если к звуковой карте подключены наушники (не установленные по умолчанию).
            p Они могут быть односторонними (с одним широкополосным преобразователем, например, динамической головкой) или многополосными (с двумя или более головками, создающими звуковое давление в соответствующих частотных диапазонах).   
            h5 Колонки
            p Являются простейшими устройствами вывода звука. До появления относительно недорогих звуковых карт колонки были основным средством воспроизведения звука. Они обеспечивали довольно низкокачественный, примитивный звук. 
            h5 Наушники 
            p Это устройства, которые позволяют людям слушать звуковую информацию.
            p В зависимости от способа передачи звука наушники можно разделить на следующие категории
            p Проводные - подключаются к источнику с помощью проводов, обеспечивая наилучшее качество звука;
            p Беспроводные - подключаются по беспроводным каналам (Bluetooth, радио, инфракрасный порт). Такие устройства вывода звука могут быть мобильными, но привязаны к месту и имеют ограниченный радиус действия. Качество звука уступает проводным системам.
        +page("tape", "Ленточный накопитель", "Ленточный накопитель", pages)
            p Ленточные накопители и стримеры - это устройства хранения данных, работающие по принципу магнитной записи данных на лентоподобный носитель. После записи данных их можно использовать для различных целей, а принцип работы ничем не отличается от принципа работы домашнего магнитофона. 
            p Сегодня ленточные накопители все еще широко используются в некоторых частях мира. В основном они используются для записи и чтения данных, копирования и архивирования. Запись осуществляется путем фиксации и хранения информации параллельно на всех дорожках накопителя. При работе накопителя на магнитной ленте сама лента может двигаться в обоих направлениях. 
            p Рабочий процесс в основном аналогичен использованию магнитофона, при этом устройство перемещает ленту в обратном направлении, когда она заканчивается в конце записи. Объем информации, которую можно хранить, зависит исключительно от длины магнитной ленты. Длина ленты определяет, сколько данных может быть записано.
        +page("sensor", "Сенсорная панель", "Сенсорная панель", pages)
            p Указывающее устройство с тактильными датчиками, специальная поверхность, которая может преобразовывать движение и положение пальцев пользователя в относительное положение операционной системы на экране. Сенсорные панели часто встречаются на портативных компьютерах, в отличие от мыши на настольных компьютерах, и иногда используются в качестве альтернативы мыши в условиях нехватки места на рабочем столе. 
            p Сенсорные панели различаются по размеру и также встречаются на КПК (персональных цифровых помощниках) и некоторых портативных медиаплеерах. Беспроводные сенсорные панели также продаются отдельно.
            p Сенсорные панели могут работать несколькими способами, включая емкостной и резистивный; технология, наиболее часто используемая в 2010-х годах, заключается в определении изменения емкости при прикосновении пальца к панели. Емкостные сенсорные панели не воспринимают кончики карандашей или другие подобные незаземленные или непроводящие инструменты. Защищенные перчатками пальцы также могут стать проблемой, а емкостные сенсорные панели редко используются в качестве указательных устройств в медицинском оборудовании.
        +page("track", "Трекбол", "Трекбол", pages)
            p Трекболы - это ручные указывающие устройства для ввода информации с компьютера. По принципу действия и функциям они похожи на мышь. Вращая рукой шарик, закрепленный на корпусе, и подавая команды нажатием кнопок, можно вводить информацию об относительных перемещениях.
            p Функционально это инверсия механической (шариковой) мыши, с шариком в верхней или боковой части корпуса, который может вращаться ладонью или пальцами пользователя, и кнопкой на корпусе. Как и в мыши, сигнал вращения шарика преобразуется в движение указателя или вращение объектов на мониторе, а нажатие кнопки выполняет определенную команду или переключает режимы. Разница лишь в том, что трекбол перемещает только шарик, а мышь требует от пользователя перемещения тела по столу.
            p Вращение шарика осуществляется с помощью пары роликов, соединенных с механическим датчиком, а в более современных моделях движение шарика определяется оптическим датчиком, расположенным в корпусе. Протокол связи с компьютером обычно такой же, как и у мыши. Это означает, что с точки зрения компьютера трекбол является стандартным интерфейсным указательным устройством, и в отсутствие специальных драйверов операционная система компьютера воспринимает его как стандартную мышь, обычно поддерживаемую стандартным общим драйвером мыши.
        +page("usb", "USB-флеш-накопитель", "USB-флеш-накопитель", pages)
            p Устройство хранения данных, использующее флэш-память в качестве носителя информации и подключаемое к компьютеру или другому устройству чтения через интерфейс USB. 
            p Большинство из них весят менее 25 г. USB-накопители часто используются для тех же целей, для которых когда-то использовались дискеты и компакт-диски - хранения компьютерных файлов, резервного копирования и переноса данных USB-накопители меньше и быстрее, поскольку не имеют движущихся частей, они имеют большую емкость, более долговечны и надежны. Кроме того, в отличие от дискет, они не подвержены воздействию магнетизма и, в отличие от компакт-дисков, не подвержены поверхностным царапинам.
        +page("webcam", "Веб-камера", "Веб-камера", pages)
            p Цифровые видео- или фотокамеры, способные захватывать изображения в реальном времени для передачи через Интернет (например, программное обеспечение для видеосвязи, такое как Skype, TrueConf, Video Grace, Instant Messenger).
            p Веб-камеры, передающие изображения через Интернет, загружают изображения на веб-сервер по требованию, непрерывно или через регулярные промежутки времени. Это достигается либо путем подключения камеры к компьютеру, либо с помощью самой камеры. Некоторые современные модели имеют аппаратное и программное обеспечение, позволяющее самой камере работать в качестве веб-сервера, FTP-сервера или FTP-клиента, а также отправлять изображения по электронной почте.
            p Веб-камеры, предназначенные для видеоконференций, обычно представляют собой простые модели камер, которые могут быть подключены к компьютеру, на котором запущена программа мгновенного обмена сообщениями.
            p Модели камер, используемые в целях безопасности, могут быть оснащены дополнительными устройствами и функциями (например, детекторами движения, подключением внешних датчиков).
            p Веб-камеры включают объектив с фиксированным фокусом, оптические фильтры, CCD или CMOS матрицу, схемы цифровой обработки изображения, схемы сжатия изображения и, опционально, веб-сервер для подключения к сети. Диафрагма таких камер управляется автоматически, без вмешательства оператора.
        +page("videoCard", "Видеокарта", "Видеокарта", pages)
            p В современном информационном обществе видеокарты играют ключевую роль в обеспечении высокого графического качества и производительности компьютерных систем. В этой статье мы рассмотрим основные понятия, характеристики и различные виды видеокарт, которые являются неотъемлемой частью компьютерных технологий.
            p Видеокарта, также известная как графический адаптер или графический ускоритель, является устройством, которое обрабатывает и выводит графическую информацию на монитор. Она отвечает за генерацию и отображение изображений, видео и 3D-графики на экране компьютера. Видеокарта подключается к материнской плате компьютера и имеет свою собственную память и процессор, называемый графическим процессором (GPU).
            p Видеокарты имеют ряд характеристик, определяющих их производительность и возможности. Некоторые из основных характеристик включают:
            +list("flush")  
                - 
                    let texts = [
                        "Графический процессор (GPU): Основной компонент видеокарты, отвечающий за обработку графики. Чем мощнее и современнее GPU, тем выше производительность и возможности видеокарты.",
                        "Видеопамять (VRAM): Это специальная память, используемая видеокартой для хранения графических данных. Большой объем VRAM позволяет обрабатывать и выводить более сложные и высокоресурсные графические сцены.", 
                        "Частота работы: Определяет скорость, с которой видеокарта выполняет вычисления. Высокая тактовая частота обеспечивает более быструю обработку данных и отображение графики.", 
                        "Разрешение и поддержка мониторов: Видеокарты имеют максимальное разрешение, которое они могут поддерживать, а также определенное количество мониторов, которые они могут одновременно выводить.",
                        "Поддержка графических интерфейсов: Видеокарты могут поддерживать различные графические интерфейсы, такие как HDMI, DisplayPort и DVI, для подключения к монитору или другим устройствам."
                    ]
                each val in texts
                    +list-item=val
            p Существуют различные виды видеокарт, которые предназначены для разных целей и категорий пользователей. Некоторые из наиболее распространенных видов видеокарт включают:
            +list('flush')
                - 
                    let texts1 = [
                        "Игровые видеокарты: Эти видеокарты специально разработаны для игровых приложений и обеспечивают высокую производительность и качество графики, необходимые для запуска современных видеоигр.", 
                        "Профессиональные видеокарты: Эти видеокарты предназначены для профессиональных задач, таких как компьютерная графика, 3D-моделирование, видеомонтаж и научные вычисления. Они обладают высокой производительностью и точностью цветопередачи",
                        "Интегрированные видеокарты: они встроены в материнскую плату компьютера и предназначены для обычных задач офисной работы, просмотра видео и веб-серфинга. Они имеют более низкую производительность по сравнению с отдельными видеокартами, но обеспечивают базовые графические возможности",
                    ]
                each val in texts1
                    +list-item=val
            p Видеокарты являются важным компонентом современных компьютерных систем, обеспечивая высокое качество графики и производительность в различных областях. Понимание основных характеристик и видов видеокарт позволяет выбрать наиболее подходящую модель для конкретных потребностей. Постоянные инновации в области видеокарт способствуют улучшению графического опыта и расширению возможностей компьютерных систем.
        //- +page("text", "Какое-то название", "Какое-то текст", pages)

        //-     p.text-danger test

        //- +page("err")
        //-     p Проверьте правильность запрашемоевого пути

    +container-fluid
        //- .col-12.p-3
        //-     h3 Название
        //- .col-12
        //-     h5 Содержание
            //- +list('numbered', 'flush')
            //-     each page in ["Основные", "Дополнительные"]
            //-         +list-item
            //-             a.link(href="/test", data-navigo)=page
        .col-12.animate__animated#page-content
        
            



